.site-content .entry-content {
    max-width: 650px;
}

.entry-content .group_header {
    background-color: #0F0F0F;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
}

.group_block {
    border: 1px solid #0F0F0F;
}

.group_block th {
    border: none;
}

.group_block tbody {
    vertical-align: top;
}

.subgroup_block thead {
    background-color: #1F1F1F;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.9em;
}

.subgroup_block {
    border: none;
}

.member_cell {
    width: 33%;
    border: none;
}

td.left_column_member {
    width: 20%;
    min-width: 100px;
    padding-top: 27px;
}

.member_row {
    width: 100%;
}

.member_block {
    border: none;
    width: 100%;
}

td.right_column_members {
    padding: 0;
    vertical-align: top;
}

.member_block td {
    text-align: center;
    border: none;
    padding: 3px;
}

.name_row {
    font-size: 1.2em;
    font-weight: 700;
}

.nom {
    color: #FF0F9A;
}

.organigrame table,
.organigrame tr,
.organigrame td,
.organigrame th {
    text-align: center;
    border: none;
    margin: 0;
}

table p {
    margin: 0;
}

#contact-pop {
    z-index: 3;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 10% 0;
}

#contact-pop > a {
    color: #FFF;
}

#contact-pop .wpcf7 {
    background: #FFF;
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}

.social_row td {
    max-width: 200px;
}

.social_div {
    padding: 3px;
    height: 20px;
    display: inline-block;
}

.tb_skype-icon, .tb_linkedin-icon, .tb_facebook-icon, .tb_twitter-icon, .tb_googleplus-icon{
  width: 20px;
  height: 20px;
  display: block;
  background-image: url('../assets/icons_black_social.png');
  background-size: 400px;
  margin: auto;
}

.tb_skype-icon{
  background-position: 21px 424px;
}

.tb_linkedin-icon{
  background-position: 296px 424px;
}

.tb_facebook-icon{
  background-position: 364px 424px;
}

.tb_twitter-icon{
  background-position: 399px 424px;
}

.tb_googleplus-icon{
  background-position: 330px 424px;
}