/* This stylesheet is used to style the admin option form of the plugin. */
.profile-photo-holder{
  width: 150px;
  height: 150px;
}

/*.profile-photo-holder:hover{*/
  /*background-color: #808080;*/
/*}*/

.button.upload-profile-photo{
  margin: -150px auto 0;
  z-index: 5;
  position: relative;
  /*background: transparent!important;*/
  color: white;
  border-radius: 0;
  border: none;
  box-shadow: none;
  display: none;
  cursor: pointer;
  background:rgba(0,0,0,0.5);
  height: 150px;
  width: 150px;
}

.button.upload-profile-photo:hover{
  color: white;
  background:rgba(0,0,0,0.5);
}

#profile_photo{
  height: 100%;
  margin: 0 auto;
  display: block;
}

#member-shortcode{
  width: 100%;
  background: #f3f3f3;
  color: #3f3f3f;
}

#member-shortcode-title{
  font-size: 14px;
  padding: 8px 2px;
  margin: 0;
  line-height: 1.4;
}

#member-shortcode-holder{
  height: 80px;
  background: white;
  padding: 8px;
}