/* This stylesheet is used to style the public-facing components of the plugin. */

.member_block {
    border: none;
}

.member_block td {
    text-align: center;
    border: none;
    line-height: 0.5em;
}

.name_row {
    color: #FF0F9A;
    font-size: 1.2em;
    font-weight: 700;
}